<ion-header>
  <ion-toolbar color="primary">
    <ion-title>UniMap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-search-bar (destinationSelected)="onDestinationSelected($event)"></app-search-bar>

  <div id="map"></div>

  <!-- <app-destination-panel
    *ngIf="currentDestination"
    [name]="currentDestination.name"
    [distance]="distanceInMeters"
    (navigate)="startNavigation()">
  </app-destination-panel> -->
  
  <app-department-popup
    *ngIf="showModal && currentDestination"
    [destination]="currentDestination"
    (navigate)="startNavigation()"
    (close)="showModal = false">
  </app-department-popup>
</ion-content>
