ion-content {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  overflow: hidden;
}

#map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


.search-host {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2000;

  pointer-events: none;
}

.search-host app-search-bar {
  width: min(520px, calc(100% - 24px));
  pointer-events: auto;
}

.popup-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;
}
