<ion-header>
  <ion-toolbar color="primary">
    <ion-title>UniMap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search bar -->
  <div class="search-bar-container">
    <ion-searchbar
      placeholder="Προορισμός..."
      [(ngModel)]="searchQuery"
      (ionInput)="onSearchInput()"
      showClearButton="focus">
    </ion-searchbar>
    <ion-icon name="search" class="search-icon"></ion-icon>
  </div>

  <!-- Search results -->
  <ion-list *ngIf="filteredResults.length" class="results-list">
    <ion-item *ngFor="let result of filteredResults" (click)="selectDestination(result)">
      {{ result }}
    </ion-item>
  </ion-list>

  <!-- Map container -->
  <div id="map"></div>

  <!-- Navigation panel -->
  <div class="destination-panel" *ngIf="currentDestination">
    <h4>{{ currentDestination.name }}</h4>
    <p>📍 Απόσταση: {{ distanceInMeters }} μέτρα</p>
    <ion-button size="small" color="success" (click)="startNavigation()">Ξεκίνα</ion-button>
  </div>
</ion-content>
